<div class="container" fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxLayoutGap="25px"
  fxFlex="0 0 calc(33%-25px)" fxFlexFill fxFlex.lt-md="calc(50%-25px)">
  <div fxFlex="0 0 calc(33%-25px)" fxFlexFill fxFlex.lt-md="calc(50%-25px)">
    <h1>404</h1>
    <p>Not found.</p>
  </div>
  <div fxFlex="0 0 calc(33%-25px)" fxFlexFill fxFlex.lt-md="calc(50%-25px)">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="button" fxFlex="0 0 calc(33%-25px)" fxFlexFill fxFlex.lt-md="calc(50%-25px)">
    <a routerLink="/" mat-button>Go Home</a>
  </div>
</div>