.profile-image {
    background-image: url('https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png');
    background-size: cover;
}

.container {
    overflow-y: auto;
    height: 65vh;
}

.comment {
    -ms-word-break: break-all;
    word-break: break-all;
}

.form-container {
    text-align: center;
}

input {
    width: 60%;
    padding: 1em 2em;
}

.post-btn {
    padding: 0.3em 2em;
    background-color: #673AB7;
    color: white;
}