<div class="content">
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="10px" class="home-header">
    <mat-card class="mat-elevation-z4" fxFlex="0 0 calc(50%-10px)" fxFlex.lt-md="calc(100%-10px)">
      <img class="home-image" src="../../assets/main.gif" width="100%">
    </mat-card>
    <mat-card class="mat-elevation-z4" fxFlex="0 0 calc(25%-10px)" fxFlex.lt-md="calc(100%-10px)">
      <mat-card-content class="about">
        <h1>Welcome to Postgram</h1>
        <p>Don't have an account yet?</p>
        <p>Join hundreds of people sharing their story everyday.</p>
        <a routerLink="/register" mat-button class="join-btn">Join us Today</a>
      </mat-card-content>
    </mat-card>
</div>